*{
    box-sizing: border-box;
}
.photosrow1{
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    background-color:rgb(255, 255, 255);
    
   
}
.photosrow2{
    background-color: rgb(253, 249, 249);
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    padding:20px
   
}
.ok{
    background-color:rgb(238, 237, 235);
    margin-bottom: 10px;
    
}
.first{
    padding:20px;
    display:flex;
    flex-direction:column;
    height:365px;
    width: 300px;
    position:relative;
    
    
    
   
}
.zoom{
   
    border:1px solid black;
    block-size:300px;
    
}
.zoom:hover{
    transform:scale(1.1);
    transition-duration: .6s;
}
.heading{
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0,0,0,0);
}
.zoom:hover{
    transform:translately(25px);
    transition: .6s ease-out;
}